@model List<WebApplication2.Models.ST_InnerStruct>

<h2>Dane z stTestArray</h2>

<table>
    <thead>
        <tr>
            <th>Index</th>
            <th>bBoolTest1</th>
            <th>bBoolTest2</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@i</td>
                <td>
                    <input type="checkbox" disabled @(Model[i].bBoolTest1 ? "checked" : "") />
                </td>
                <td>
                    <input type="checkbox" disabled @(Model[i].bBoolTest2 ? "checked" : "") />
                </td>
            </tr>
        }
    </tbody>
</table>
