.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.toggle-button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.toggle-button-true {
    background-color: darkgray;
    color: white;
}

.toggle-button-false {
    background-color: lightgray;
    color: black;
}

#i-pressure-display {
    cursor: pointer;
    text-decoration: underline;
}

#numeric-keyboard {
    position: absolute;
    background-color: #eee;
    border: 2px solid #ccc;
    padding: 15px;
    z-index: 1000;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

    #numeric-keyboard table {
        border-collapse: collapse;
        width: auto;
    }

        #numeric-keyboard table tr td button {
            color: black !important;
            font-size: 1rem;
            width: 50px;
            height: 50px;
            margin: 8px;
            border: none;
            background-color: #fff;
            cursor: pointer;
            font-size: 20px;
            border-radius: 5px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
            color: darkgrey;
        }

#zatwierdz,
#cofnij {
    width: 108px;
    background-color: #4CAF50;
    color: white;
}

#cofnij {
    background-color: #f44336;
    color: white;
}

#momentary-button {
    background-color: lightgray;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    #momentary-button.pressed {
        background-color: darkgray;
        color: white;
    }

#momentary-lamp-button,
#momentary-lamp1-button,
#momentary-lamp2-button,
#momentary-lamp3-button {
    background-color: lightgray;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    #momentary-lamp-button.pressed,
    #momentary-lamp1-button.pressed,
    #momentary-lamp2-button.pressed,
    #momentary-lamp3-button.pressed {
        background-color: darkgray;
        color: white;
    }
